.gafas {
  width: 100%; /* Ancho del div al 100% del contenedor padre */
  height: 250px;
}

.img-gif {
  width: 100%; /* Ancho de la imagen al 100% del div contenedor */
  height: 100%; /* Altura de la imagen al 100% del div contenedor */
  object-fit: cover;
}
