.infoNav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 9px;
}

.icon-instagram {
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  .infoNav {
    display: none;
  }
}
